{% extends 'base.html' %}

{% block contenido %}

<div class="row pt-5">
    <div class="col">
        <h1>Lista de Usuarios</h1>
    </div>
    <div class="col align-self-end">
        <a href="{% url "agregar_usuario" %}" class="btn btn-success bt-sm float-right">Agregar Usuario</a>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        {% if usuarios|length == 0 %}
            <h4>No hay usuarios</h4>
        {% else %}
            <table class="table table-dark rounded-lg shadow r-click">
                <thead class="thead-dark">
                    <th>Usuario</th>
                    <th>Correo Electrónico</th>
                    <th class="text-center">Admin</th>
                    <th class="text-center">Opciones</th>
                </thead>
                <tbody>

                    {% for usuario in usuarios %}
                        <tr>
                            <td>{{usuario.username}}</td>
                            <td>{{usuario.email}}</td>
                            <td class="text-center">
                                {% if usuario.is_superuser == 1 %}
                                    Si
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{% url "modificar_usuario" usuario.id %}" class="btn btn-primary btn-sm mr-4">Editar</a>
                                <a href="{% url "eliminar_usuario" usuario.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        {% endif %}
    </div>
</div>

{% endblock contenido %}